<h3>Admin's Dashboard</h3>
<h4>Category list</h4>
<% @categories.each do |category| %>
  <p><%= category.title %>  <%= link_to "delete", admin_category_path(category), method: :delete, data: {confirm: "#{category.title} will be deleted"} %></p>
<% end %>
<%= link_to "Create a new category", new_admin_category_path %>
