<h3>Welcome, <%= @user.username %></h3>
<% if current_admin %>
  <%= link_to "Admin's Dashboard", admin_dashboard_index_path %>
<% end %>
<p><%= link_to "logout", logout_path, method: :delete, data: {confirm: "Logging out?"} %></p>
